.i-left{
    padding-right: 20px;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    float: left;
    width: 60%;
}
.i-right{
    padding-left: 20px;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    float: left;
    width: 40%;
    border-left: 1px dotted #999;
    color: #666;
}

.i-left h1{
    margin-bottom: 20px;
    color: #666;
}
.i-left p, .i-right p{
    margin: 10px 0;
    line-height: 150%;
}
.i-left h3{
    margin: 15px 0;
    color: #666;
}
.i-right h2{
    color: #000;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}
.i-right > img{
    max-width: 100%;
}
.featured{
    background: #FFF8D6;
    border: 1px solid #FFC464;
    border-radius: 3px;
    padding: 10px;
    margin-top: 15px;
}